.students-container {
  font-family: "Balsamiq Sans", cursive;
  max-width: 900px;
  margin: 0 auto;
}

.search-student-by-name {
  font-size: 30px;
  color: black;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eee 1px;
  padding: 3px 10px;
}

.students-row {
  display: flex;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-width: thin;
  padding: 10px 0;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-fourth {
  width: 25%;
}

.student-ul {
  padding-left: 0;
}

.grades-ul {
  margin-top: 20px;
}

.hidden {
  display: none;
}
