.students-container {
  max-width: 900px;
  margin: 0 auto;
}

.no-results-found {
  text-align: center;
}

.search-student-by-name,
.search-tag {
  font-size: 30px;
}

.search-tag {
  margin-top: 10px;
}

.search-student-by-name,
.search-tag,
.add-a-tag {
  color: black;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid rgb(167, 167, 167) 1px;
  padding: 3px 10px;
}

.add-a-tag {
  margin: 10px 0 0 40px;
  width: 35%;
}

.students-row {
  display: flex;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-width: thin;
  padding: 10px 0;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-fourth {
  width: 25%;
}

.student-ul {
  padding-left: 0;
}

.grades-ul {
  margin-top: 20px;
}

.tags-display {
  padding-left: 30px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .students-header {
    font-size: 8px;
  }

  .search-student-by-name,
  .search-tag {
    font-size: 15px;
  }

  .student-icons {
    width: 60px;
    margin-left: 15px;
  }

  .student-names {
    font-size: 20px;
  }

  .students-row ul {
    padding: 0;
  }

  .add-a-tag {
    margin: 10px 0 0 20px;
    width: 50%;
  }

  .tags-display {
    width: 80%;
  }
}
