.students-container,
.students-container input::placeholder,
.students-container input,
h1 {
  font-family: "Balsamiq Sans", cursive;
}

.students-header {
  color: black;
  text-transform: uppercase;
  text-align: center;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

.student-names {
  font-size: 40px;
  margin: 10px 0;
}

.student-ul li {
  list-style: none;
}

.column-center ul {
  padding-left: 10px;
  color: gray;
}

.student-icons {
  width: 100px;
  border-radius: 50%;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
}

.plus-minus-buttons {
  float: right;
  background: transparent;
  color: lightgray;
  border-color: white;
  border-style: solid;
}

.plus-minus-icons {
  font-size: 40px;
}

.add-a-tag::placeholder {
  font-size: 15px;
}

.add-a-tag {
  font-size: 15px;
  color: gray;
}

.tags-display li {
  background-color: rgb(209, 209, 209);
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
}
